# 1. 변수

In [4]:
name = '홍길동'
age = 20
item_count = 15

age

20

In [5]:
print(name, age, item_count)

홍길동 20 15

# 3. 자료형

## 1) 숫자형

In [8]:
# 정수 
x = 5
y = -1
z = x*y
my_money = 1_000_000_000_000_000
print(type(my_money))

<class 'int'>

In [10]:
#실수
x = 1e-5
print(x)

1e-05

### (1) 표현

### (2) 산술/복합 연산

In [ ]:
print(12/3)

4

### (3) 예제

반복할 횟수 구하기: 100개의 게시물을 한 페이지에 30개씩 보여주려면 총 몇 페이지가 필요할까요?

In [14]:
import numpy as np
print(int(np.ceil(100/30)), '개')

4 개

출생년도가 1982일 때 홀수, 짝수 판단하기

In [17]:
year = 1982
if year % 2 == 0 :
    print("짝수")
else:
    print("홀수")

짝수

## 2) ⭐ 문자열

### (1) 표현

In [35]:
msg = "\"철수가 말했습니다\""
msg

'"철수가 말했습니다"'

In [36]:
msg = ''' 안녕
전말
안녕'''

print(msg)

 안녕
전말
안녕

In [38]:
msg = "안녕 \n 정말로"
print(msg)

안녕
 정말로

### (2) 연산

In [41]:
a = "안녕" 
b = "바보"
print(a+b)
print(a*3)

안녕바보
안녕안녕안녕

In [43]:
print("=" * 50)
print("반복1이 시작되었습니다")
print("=" * 50)

==================================================
반복1이 시작되었습니다
==================================================

### ⭐(3) 인덱싱/슬라이싱

#### 슬라이싱

In [47]:
ids = ['990829-2515632', "980622-1234567"]

print(ids[0][-6:])
print(ids[0][-12:-8])

515632
0829

문제. 주민등번호 뒷자리에서 성별을 제외하고 *로 표시해주세요.

In [48]:
ids = ['990829-2515632', "980622-1234567"]


# for i in range(14):
#     if (i >= 8):
#         print("*", end='')
#     else: print(id[i], end='')

for id in ids:
    print(id[:8] +'******')

990829-2******
980622-1******

### (4) 문자열 포매팅(f-string)

In [49]:
name = "이연"
n = 3
print(f"{name}님 환영합니다. {n}번째 방문이시네요")

이연님 환영합니다. 3번째 방문이시네요

### (5) 관련 메서드

#### ⭐ 문자열 나누기(split)

In [50]:
address = '서울시 강동구 아리수로'
address_split = address.split()
print(address_split)

['서울시', '강동구', '아리수로']

예제. 파일 확장자 찾기

In [53]:
filename = 'mysql.hwp'
print(f"파일의 확장자는 {filename.split('.')[1]}")

파일의 확장자는 hwp

#### 문자열 대체(replace)

In [55]:
string = "hello puture"
string = string.replace('hell', 'heaven')
print(string)

heaveno puture

#### 대/소문자 변환(lower, upper)

In [57]:
print('hamberger'.upper())
print('HAMBERGER'.lower())

HAMBERGER
hamberger

#### 공백 제거(lstrip/rstrip/strip)

In [58]:
name = "   jiho  "
print(f"|{name.strip()}|")

|jiho|

#### 카운트 세기(count)

In [59]:
print("mmmmmmffffffMMM".lower().count('m'))

9

예제. 리뷰

짬뽕은 정말 맵고 맛있었어요. 해산물이 가득 들어가서 만족했습니다.
짜장면은 이 집에서 먹어본 것 중 가장 맛있었어요
짜장면 굿

In [61]:
review = """짬뽕은 정말 맵고 맛있었어요. 해산물이 가득 들어가서 만족했습니다.
짜장면은 이 집에서 먹어본 것 중 가장 맛있었어요
짜장면 굿"""
print(review.count("짬뽕"))
print(review.count("짜장면"))

1
2

## 3) 리스트(List)

### (1) 표현

### (2) 인덱싱/슬라이싱

#### 인덱싱

#### 슬라이싱

예제.

```
data = [25, "apple", 3.13, ["dog", "cat", "rabbit"]]
```

* "cat" 출력

예제.

```
data = [25, 'apple', 3.13, ['dog', 'cat', 'rabbit']]
```

* ['dog', 'cat'] 출력

### (2) 연산

#### 덧셈

#### 곱셈

### (3) range

### (4) 수정/추가/삭제

#### 수정

#### 추가

#### 삭제

예제. 게시물 코드

```
post_data = ["ID001", "ID002", "ID003", "ID004", "ID005"]
```

## 4) 튜플(Tuple)

### (1) 표현

## 5) 딕셔너리(Dictionary)

### (1) 표현

### (2) 딕셔너리 다루기

예제. 날씨 데이터
* 'city'키 'Busan'으로 수정하기
* 미세먼지(`pm10`)키 추가하기 (값: 34)
* 'forecast' 키에 ['Rainy', 'Rainy'] 추가하기

```
weather_data = {
    'city': 'Seoul',
    'temperature': 22.5,  # 섭씨
    'humidity': 60,       # 상대 습도(%)
    'forecast': ['Sunny', 'Cloudy', 'Rainy']  # 3일 예보
}
```

### (3) 관련 메서드

#### 조회

#### 삭제

## 6) 집합

### (1) 표현

예제. 이메일 중복 제거

```
emails = ['user1@example.com','user2@example.com','user1@example.com','user3@example.com','user2@example.com']
```

### (2) 요소 추가/제거

#### 추가

#### 제거

### (3) 연산

## 7) 불